Source: ros-groovy-razer-hydra
Section: misc
Priority: extra
Maintainer: "Adam Leeper <adamleeper@gmail.com>"
Build-Depends: debhelper (>= 7.0.50~), libusb-1.0-0-dev, ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-message-generation, ros-groovy-roscpp, ros-groovy-tf
Homepage: http://www.ros.org/wiki/razer_hydra
Standards-Version: 3.9.2

Package: ros-groovy-razer-hydra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0-dev, ros-groovy-geometry-msgs, ros-groovy-message-runtime, ros-groovy-roscpp, ros-groovy-tf
Description: Unofficial driver and ROS node for Razer Hydra
